
.topic{
    text-align: center;
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px 20px var(--10color);
    font-size: 40px;
    
}
.header-section{
    margin-top: 80px;
}
img:hover{
    filter:brightness(0.7);
}
.st-details{
   opacity: 0;
   color: rgb(255, 255, 255);
   font-size:18px;
   text-align:center;
   margin-top: 15px;
   
}
img:hover+.st-details{
    opacity: 1;
}

.container{
    padding: 40px;
    margin: auto;
    width: 75%;
}

.student-container{
    padding:15px 15px 50px 15px;
    background-color: rgb(47, 47, 48);
    border-radius: 20px;
    margin-right: 16px;
    margin-bottom: 50px;
    margin-left: 5px;
    box-shadow: 0px 0px 9px 3px var(--30color);
    display:inline-table;
}
nav{
    position: relative;
}

.image {
    height: 250px;
    width: 210px;
    border-radius: 30px;
    transition: 1s;
    margin: auto;
    padding: 10px;
    border: none;
}
.image:hover{
    transform: scale(1.1);
    
}

nav ul li a {
    text-decoration: none;
}
